<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assing Job</title>,
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body {
            display: flex;
            min-height: 100vh;
            background-color: #f5f7fa;
        }

        .content {
            flex: 1;
            padding: 30px;
        }
    </style>
</head>
<body>
<div th:replace="fragments :: sidebar"></div>
<div class="content">
    <h1>Drivers</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver : ${drivers}">
            <td th:text="${driver.userId}">1</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>